<ion-header>
  <ion-toolbar>
    <ion-title class="heading-line">Notification</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="contenu" *ngIf="showNotif">
  <ion-card *ngFor="let notif of notifstate let i = index" >
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col >
          <ion-card-header>
            <ion-card-title>{{notif.titre}}</ion-card-title>
            <ion-card-content>
             {{notif.contenu}}
            </ion-card-content>
          </ion-card-header>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        
        <ion-icon name="checkmark-circle-outline" size="large" class="validate" color="primary" (click)="validate(notif.idnotification)"></ion-icon>
        <ion-icon name="close-circle-outline" size="large" color="danger"  (click)="hide(notif.idnotification)"></ion-icon>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- Fin Card postulant -->
</ion-content>
<ion-content *ngIf="!showNotif">
  <ion-card>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-card-content>
          Vous avez desactivez vos notifications, rendez vous dans votre profil pour l'activer à nouveau
        </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>