ion-card-header {
    padding: 5px 16px;
  }
  .toolbarfont{
    --background: #fff!important; 
  }

  .notifheader{
    background: #fff!important;
  }
ion-card-title{
    font-size: 18px;
}
.cardcontent{
  background: #fff!important;
}

// .nview{
//     --background: #845EC2;
//     width: 90px;
//     height: 25px;
//     padding: 0px;

// }
// .view{
//     --color: #000;
//     // --border-radius: 15px;
//     --border-color: #CACACA;
//     width: 50px;
//     height: 25px;
//     // padding: 0px 5px;
// }
// .interview ,.evaluation{
//     --border-radius: 15px;
//     --font-size: 12px;
//     --font-weight: 400;
// }

ion-grid{
    --ion-grid-padding:2px;
    --ion-grid-column-padding:1px;
}
// .absolute{
//     position: sticky;
//     bottom: 10px;
//     margin: auto;
//     left: 25%;
//     --background: #FFF;
//     --color: #CACACA;
//      --border-radius: 30px;
//     --border-color: #cacaca;
//     --border-style: solid;
//     --border-width: 1px;
//     --padding-start: 30px;
//     --padding-end: 30px;
// }


.validate{  
    padding-right: 20%;
}

.contenu{
    --offset-bottom:auto!important;
   
    background: #FFF!important;
    //--overflow:hidden;
    overflow-y: scroll;
    overflow: auto;
    &::-webkit-scrollbar{
      display: none;
    }
  }

  :host(.content-sizing) .inner-scroll {
    position: fixed;
    width: 320px;
    top: 31px;
    bottom: 0px;
    /* margin-top: calc(var(--offset-top) * 1); */
    /* margin-bottom: calc(var(--offset-bottom) * -1); */
    margin-left: auto;
    margin-right: auto;
}

