<ion-content>
  <div class="annonce">

    <div class="imageprofile py-3">
      <!-- <img class="img" src="../../assets/photocopieur-pro-entreprise.jpg" alt=""> -->

      <ion-avatar class="position">
        <img src="../../assets/photocopieur-pro-entreprise.jpg" alt="">
      </ion-avatar>
    </div>
    <div class="row info" style="margin-top: 20px;">
      <div class="nom" style="text-align: center;margin-top: 50px; color: black;">
        <b>Diarraba Diarra</b>
      </div>
      <div class="edit">

        <ion-buttons class="ionModif">
          <ion-button routerLink="/modifierprofil">
            <ion-icon name="create-outline"></ion-icon>
            Changer mot de passe
          </ion-button>
        </ion-buttons>
      </div>
      <div class="information" style="color:black;margin-top: 40px;margin-bottom: 40px;">



        <div class="content1">
          <div class="content-item">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Nom d'utilisateur</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=" " value="jedneoknlczeiocnzocn">
            </div>
            <div class="containerbutton">
              <ion-button type="submit">
                <p>Envoyer</p>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>