<ion-content>
  <div></div>

  <div class="avis">
   
      <div class="structurepublique">
        <p>
          Abonnées
        </p>
      </div>
      <div class="card  mx-auto  mb-3 mt-1 contour" style="max-width: 90%;"  *ngFor="let utilisateur of userfollower">
        <div class="row g-0">
          <div class="col-4">
            <ion-avatar class="position">
              <img alt="Silhouette of a person's head" src="../../assets/photocopieur-pro-entreprise.jpg" />
            </ion-avatar>
          </div>
          <div class="col-8 justify-content-center">
            <div class="card-body" style="font-size: 10px;">
              <div class="row">
                <div class="col-9">{{utilisateur.utilisateurs.nomutilisateur}}</div>
                <div class="col-3">
                  <ion-button class="voirdetails" fill="outline" routerLink="/tabs/profile"><span>Voir détails</span>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- <div class="card  mx-auto  mb-3 mt-1 contour" style="max-width: 90%;">
        <div class="row g-0">
          <div class="col-4">
            <ion-avatar class="position">
              <img alt="Silhouette of a person's head" src="../../assets/photocopieur-pro-entreprise.jpg" />
            </ion-avatar>
          </div>
          <div class="col-8 justify-content-center">
            <div class="card-body" style="font-size: 10px;">
              <div class="row">
                <div class="col-9">Card title</div>
                <div class="col-3">
                  <ion-button class="voirdetails" fill="outline" routerLink="/tabs/profile"><span>Voir détails</span>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="card  mx-auto  mb-3 mt-1 contour" style="max-width: 90%;">
        <div class="row g-0">
          <div class="col-4">
            <ion-avatar class="position">
              <img alt="Silhouette of a person's head" src="../../assets/photocopieur-pro-entreprise.jpg" />
            </ion-avatar>
          </div>
          <div class="col-8 justify-content-center">
            <div class="card-body" style="font-size: 10px;">
              <div class="row">
                <div class="col-9">Card title</div>
                <div class="col-3">
                  <ion-button class="voirdetails" fill="outline" routerLink="/tabs/profile"><span>Voir détails</span>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card  mx-auto  mb-3 mt-1 contour" style="max-width: 90%;">
        <div class="row g-0">
          <div class="col-4">
            <ion-avatar class="position">
              <img alt="Silhouette of a person's head" src="../../assets/photocopieur-pro-entreprise.jpg" />
            </ion-avatar>
          </div>
          <div class="col-8 justify-content-center">
            <div class="card-body" style="font-size: 10px;">
              <div class="row">
                <div class="col-9">Card title</div>
                <div class="col-3">
                  <ion-button class="voirdetails" fill="outline" routerLink="/tabs/profile"><span>Voir détails</span>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="card  mx-auto  mb-3 mt-1 contour" style="max-width: 90%;">
        <div class="row g-0">
          <div class="col-4">
            <ion-avatar class="position">
              <img alt="Silhouette of a person's head" src="../../assets/photocopieur-pro-entreprise.jpg" />
            </ion-avatar>
          </div>
          <div class="col-8 justify-content-center">
            <div class="card-body" style="font-size: 10px;">
              <div class="row">
                <div class="col-9">Card title</div>
                <div class="col-3">
                  <ion-button class="voirdetails" fill="outline" routerLink="/tabs/profile"><span>Voir détails</span>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
<!-- 
      <div class="card mb-3 mx-auto mt-5 contour" style="max-width: 90%;">
        <div class="row g-0">
          <div class="col-4">
            <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
              alt="...">
          </div>
          <div class="col-8 justify-content-center">
            <div class="card-body" style="font-size: 10px;">
              <div class="row">
                <div class="col-9">Card title</div>
                <div class="col-3">
                  <ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="card mb-3 mx-auto mt-5 contour" style="max-width: 90%;">
        <div class="row g-0">
          <div class="col-4">
            <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
              alt="...">
          </div>
          <div class="col-8 justify-content-center">
            <div class="card-body" style="font-size: 10px;">
              <div class="row">
                <div class="col-9">Card title</div>
                <div class="col-3">
                  <ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="card mb-3 mx-auto mt-5 contour" style="max-width: 90%;">
        <div class="row g-0">
          <div class="col-4">
            <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
              alt="...">
          </div>
          <div class="col-8 justify-content-center">
            <div class="card-body" style="font-size: 10px;">
              <div class="row">
                <div class="col-9">Card title</div>
                <div class="col-3">
                  <ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 -->


  </div>

</ion-content>