<ion-content>
  <ion-card>
    <div class="divimage">
      <img class="imagestructure" alt="rhino standing near grass" src="{{picture}}{{image}}" />
    </div>
    <div class="maintext1">
      <h5>{{titre}}</h5>
    </div>

    <p class="maintext">
      {{contenu}}
    </p>

    <div>
      <div class="subtitle1">
        <h2 class="subtitle">
          Date du poste :
        </h2>
        <p class="subtitleContent">
          {{date}}
        </p>
      </div>

      <div class="subtitle1">
        <h2 class="subtitle">
          Objet :
        </h2>
        <p class="subtitleContent">
          {{objet}}
        </p>
      </div>
      <div class="buttondiv py-1">
        <ion-button class="button" fill="outline" size="small" routerLink="/tabs/demande">
          <p>Envoyer une demande</p>
        </ion-button>
      </div>


    </div>
  </ion-card>
</ion-content>