ion-badge{
    position: absolute; 
    font-size: 8pt;
    right: -8px;
    top: 6px; 
}

ion-button{
    margin: 5px;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: visible!important;
    color: #6A9A8B;
}

.logo{
    position: relative;
    bottom: 4px;
    right: 10px;
}