
.imageBorder{
    border: 1px solid #6A9A8B;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
}

ion-card{
    margin-bottom: 80px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.card-body.divposition {
    position: relative;
    top: 25%;
}

.Appui{
    border: 1px solid #6A9A8B;
    // margin-right: 5px;
    // margin-left: 5px;
    
}
.iconBack:hover{
cursor: pointer;
}
ion-icon {
    font-size: 20px;
  }
.toolbartop{
    margin-top: 8%;
}
.structureTop{
    position: relative;
    top:55px;
    height: 100%;
    --background:#FFFFFF ;
}
ion-segment{
    background-color: white;
}
ion-segment-button{
    
}

ion-label{
    font-size: 6pt;
    font-weight: 700;
}
ion-list{
    --height: 100% !important;
    --background:red;
}

//Section accueil de la structure conserner


.imagestructure{
    border-radius: 5px;
    height: 120px;
    width: 100%;
    border: 3px solid #6A9A8B;

   
}
.subtitle{
    font-size: 12px; /* 40px/16=2.5em */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.subtitleContent{
    position: relative;
        /* text-align: center; */
    top: 18px;
    font-size: 12px;
    color: black;
}

.subtitleContent1{
    display: flex;
    position: relative;
        /* text-align: center; */
    top: 18px;
    left: 0px;
    font-size: 12px;
    color: black;
    
}
.maintext{
display: contents;
justify-content: center;
text-align: justify;
font-family: 'Poppins', sans-serif;
letter-spacing: 0.5px;
font-size:12px;
color: black;
}

.maintext1{
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: 800;
    font-size: 12px;
}
.voirdetails{
    // width: 80px;
    // height: 20px;
    position: relative;
    top: 80px;
    margin-left: -6px;

}

.voirdetails {
    width: 80px;
    height: 20px;
    position: relative;
    font-size: 8px;
    top: 12px;
    --border-color: #6A9A8B !important;
}
.location{
    font-size: 12px; /* 40px/16=2.5em */
    font-weight: bold;
    text-align: center;
    color: black;
}
.subtitle1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 12px;
    flex-wrap: wrap;
}

.subtitle2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    font-size: 12px;
}
//nn

.produits{
    display: grid;
    grid-template-columns: auto auto;
    background: #F8F6FB;
}
.nonETprix{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    color: black;
}
ion-card-title{
    font-weight: 700;
    text-align: center;
    font-size: 15px;
}
// .montant{color: black;}
// .prix p{

// }

.boutonpanier button{
    background: #04CF72;
    color: white;
    width: 100%;
    padding: 2%;
}

.contour{
    border: 1px solid #6A9A8B;
}
.iconBack{
    color: #6A9A8B;
}
.contour2{
    border: 1px solid #C8FCEA;
    filter: drop-shadow(-2px 3px 8px #6A9A8B);
}
.iconBack2{
    color: #C8FCEA;
}
.structurepublique{
    display: flex;
    justify-content: center;
    position: relative;
    top: 45px;
    
}

.avis{
position: relative;
bottom: 20px;
}
.annonce{
    position: relative;
bottom: 20px;
}
ion-button {
    width: 50px;
    height: 50px;
    padding: 0px;
}
ion-content{
    background:#FFFF;
}