<ion-content class="structureTop">

  <div>
    <ion-segment [(ngModel)]="cat">
      <ion-segment-button value="Accueil">

        <ion-label style="color: black;">Accueil</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Appui">

        <ion-label style="color: black;">Appui finc/rec</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Seminaire">

        <ion-label style="color: black;">Séminaire info</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="cat">
    <ion-list *ngSwitchCase="'Accueil'">
      <ion-card>
        <div class="divimage">
          <img class="imagestructure" alt="rhino standing near grass"
            src="{{picture}}{{profiles.image}}" />
        </div>
        <div class="maintext1">
          <h5 style="color: black;">{{alias}}</h5>
          <ion-button  [ngClass]="{'subscribed': subscribed}" (click)="toggleSubscribe()"  class="voirdetails1" fill="outline" >
            {{ subscribed ? 'Unsubscribe' : 'Subscribe' }}
          </ion-button>
          <ion-button class="voirdetails" fill="outline" routerLink="/tabs/structure/structurehome/{{id}}/profile"><span>Voir profil</span>
          </ion-button>
        </div>
        <p class="maintext" style="color: black;">
          {{profiles.description}}
          <!-- The rhinoceros gets its name from one of its most notable features: its horns.
          The word rhinoceros come from the Greek words rhino meaning “nose” and ceros meaning “horn.”
          The number of horns that a rhino has varies on the species.
          The two African species (the black rhino and the white rhino) and the Sumatran rhino have two horns, -->
        </p>

        <div>
          <div class="subtitle1">
            <h2 class="subtitle" style="color: black;">
              Activités:
            </h2>
            <p class="subtitleContent" *ngFor="let activite of structurparid.activites" style="color: black;">
              {{activite.nom}}
            </p>
          </div>
          <div class="subtitle2">
            <h2 class="subtitle" style="color: black;">
              Slogan:
            </h2>
            <p class="subtitleContent1" style="color: black;">
              {{profiles.slogan}}
            </p>
          </div>

          <div class="location" style="color: black;">
            {{profiles.localisation}}
          </div>
        </div>
      </ion-card>
    </ion-list>





    
    <ion-list *ngSwitchCase="'Appui'" class="mb-5">
      <div class="avis">
        <div class="avisfinancement">
          <div class="structurepublique">
            <p style="color: black;">
              Avis financement
            </p>
          </div>
          <div class="card mb-3 mx-auto mt-5 contour" style="max-width: 90%;" *ngFor="let avis of avisFinancement">
            <div class="row g-0">
              <div class="col-4">
                <img src="{{picture}}{{avis.image}}" class="img-fluid rounded-start imageBorder"
                  alt="...">
              </div>
              <div class="col-8 justify-content-center">
                <div class="card-body divposition" style="font-size: 10px;">
                  <div class="row">
                    <div class="col-9" style="color: black;">{{avis.titre}}</div>
                    <div class="col-3"  routerLinkActive="active">
                      <a [routerLink]="['/tabs/structure/structurehome/'+id+'/avis-details', avis.idavisoffre]"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="card mb-3 mx-auto mt-5 contour" style="max-width: 90%;">
            <div class="row g-0">
              <div class="col-4">
                <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
                  alt="...">
              </div>
              <div class="col-8 justify-content-center">
                <div class="card-body divposition" style="font-size: 10px;">
                  <div class="row">
                    <div class="col-9">Card title</div>
                    <div class="col-3">
                      <a href="/tabs/avis-details"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card mb-3 mx-auto mt-5 contour" style="max-width: 90%;">
            <div class="row g-0">
              <div class="col-4">
                <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
                  alt="...">
              </div>
              <div class="col-8 justify-content-center">
                <div class="card-body divposition" style="font-size: 10px;">
                  <div class="row">
                    <div class="col-9">Card title</div>
                    <div class="col-3">
                      <a href="/tabs/avis-details"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->



          <!-- <div class="card mb-3 mx-auto mt-5 contour" style="max-width: 90%;">
            <div class="row g-0">
              <div class="col-4">
                <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
                  alt="...">
              </div>
              <div class="col-8 justify-content-center">
                <div class="card-body divposition" style="font-size: 10px;">
                  <div class="row">
                    <div class="col-9">Card title</div>
                    <div class="col-3">
                      <a href="/tabs/annonce-detailsa"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>


        <div class="avisrecrutement">
          <div class="structurepublique">
            <p style="color: black;">
              Avis recruitement
            </p>
          </div>
          <div class="card mb-3 mx-auto mt-5 contour" style="max-width: 90%;">
            <div class="row g-0">
              <div class="col-4">
                <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
                  alt="...">
              </div>
              <div class="col-8 justify-content-center">
                <div class="card-body divposition" style="font-size: 10px;">
                  <div class="row">
                    <div class="col-9" style="color: black;">Card title</div>
                    <div class="col-3">
                      <a href="/tabs/avis-details"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="card mb-3 mx-auto mt-5 contour" style="max-width: 90%;">
            <div class="row g-0">
              <div class="col-4">
                <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
                  alt="...">
              </div>
              <div class="col-8 justify-content-center">
                <div class="card-body divposition" style="font-size: 10px;">
                  <div class="row">
                    <div class="col-9">Card title</div>
                    <div class="col-3">
                      <a href="/tabs/avis-details"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card mb-3 mx-auto mt-5 contour" style="max-width: 90%;">
            <div class="row g-0">
              <div class="col-4">
                <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
                  alt="...">
              </div>
              <div class="col-8 justify-content-center">
                <div class="card-body divposition" style="font-size: 10px;">
                  <div class="row">
                    <div class="col-9">Card title</div>
                    <div class="col-3">
                      <a href="/tabs/avis-details"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card mb-3 mx-auto mt-5 contour" style="max-width: 90%;">
            <div class="row g-0">
              <div class="col-4">
                <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
                  alt="...">
              </div>
              <div class="col-8 justify-content-center">
                <div class="card-body divposition" style="font-size: 10px;">
                  <div class="row">
                    <div class="col-9">Card title</div>
                    <div class="col-3">
                      <a href="/tabs/avis-details"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>

      </div>


      <!-- <ion-card class="Appui">
       <ion-content>
         <div class="row">
          <div class="col-4">
            <img class="" alt="rhino standing near grass"
            src="../../assets/photocopieur-pro-entreprise.jpg" />
           </div>
           <div class="col-4">
             <p>
               vvvvvvvvvvvvvvvvvvvvvnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
             </p>
           </div>

           <div class="col-4">
            icon
          </div>
         </div>

       </ion-content>
      </ion-card> -->
    </ion-list>

    <ion-list *ngSwitchCase="'Seminaire'" class="mb-5">
      <div class="annonce">
        <div class="structurepublique">
          <p style="color: black;">
            Annonces
          </p>
        </div>
        <div class="card mb-3 mx-auto mt-5 contour2" style="max-width: 90%;" *ngFor="let annonce of annonces">
          <div class="row g-0">
            <div class="col-4">
              <img src="{{picture}}{{annonce.image}}" class="img-fluid rounded-start imageBorder"
                alt="...">
            </div>
            <div class="col-8 justify-content-center">
              <div class="card-body divposition" style="font-size: 10px;">
                <div class="row">
                  <div class="col-9" style="color: black;">{{annonce.titre}}</div>
                  <div class="col-3">
                    <a [routerLink]="['/tabs/structure/structurehome/'+id+'/annonce-detailsa', annonce.idannonce]"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="card mb-3 mx-auto mt-5 contour2" style="max-width: 90%;">
          <div class="row g-0">
            <div class="col-4">
              <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
                alt="...">
            </div>
            <div class="col-8 justify-content-center">
              <div class="card-body divposition" style="font-size: 10px;">
                <div class="row">
                  <div class="col-9">Card title</div>
                  <div class="col-3">
                    <a href="/tabs/annonce-detailsa"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 mx-auto mt-5 contour2" style="max-width: 90%;">
          <div class="row g-0">
            <div class="col-4">
              <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
                alt="...">
            </div>
            <div class="col-8 justify-content-center">
              <div class="card-body divposition" style="font-size: 10px;">
                <div class="row">
                  <div class="col-9">Card title</div>
                  <div class="col-3">
                    <a href="/tabs/annonce-detailsa"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card mb-3 mx-auto mt-5 contour2" style="max-width: 90%;">
          <div class="row g-0">
            <div class="col-4">
              <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
                alt="...">
            </div>
            <div class="col-8 justify-content-center">
              <div class="card-body divposition" style="font-size: 10px;">
                <div class="row">
                  <div class="col-9">Card title</div>
                  <div class="col-3">
                    <a href="/tabs/annonce-detailsa"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->


        <!-- <div class="card mb-3 mx-auto mt-5 contour2" style="max-width: 90%;">
          <div class="row g-0">
            <div class="col-4">
              <img src="../../assets/photocopieur-pro-entreprise.jpg" class="img-fluid rounded-start imageBorder"
                alt="...">
            </div>
            <div class="col-8 justify-content-center">
              <div class="card-body divposition" style="font-size: 10px;">
                <div class="row">
                  <div class="col-9">Card title</div>
                  <div class="col-3">
                    <a href="/tabs/annonce-detailsa"><ion-icon name="arrow-forward-circle-outline" class="iconBack"></ion-icon></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>


    </ion-list>
  </div>
</ion-content>