.registerbackfont{
    --background: #fff;
}
.cadrelabel{
    --background: #fff;
}


.logo {
    position: relative;
    width: 60px;
    height: 60px;
    /* bottom: 233px; */
    left: 80%;
    z-index: 3;
}
.logo svg{
    position: relative;
    bottom: 10px;
}
.right{
    z-index: 2;
    height: 42%;
    width: 100%;
    position: absolute;
    background: #C8FCEA;
    border-radius: 50%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    top: -48px;
    right: 15%;
}
.right p strong{
    position: relative;
    left: 90px;
    top: 112px;
    font-size: 22px;
}

.left{
    z-index: 2;
    background: #6A9A8B;
    width: 54%;
    height: 28%;
    border-radius: 50%;
    position: absolute;
    left: 64%;
   // top: 10%;
    bottom: 73%;
}
.bottom{
    height: 40px;
    background: #C8FCEA;
    width: 90%;
    margin-bottom: 220px;
    position: relative;
    margin-left: 27px;
    left: -2%;
    bottom: -80px;
    // margin-top: 320px;
    
}
.bottom p{
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 5px;
    color: black;
    left: 8px;
}
.bottom p strong{
    font-size: 12px;
}
.bottom p ion-button{
    position: relative;
    bottom: 4px;
    color: black;
    left: -9px;
    font-size: 12px;
    font-weight: bold   ;
} 
.content{
    position: fixed;
}

.form{
    margin-top: 200px;
    --background-color: #fff;
   // left: -1%;
}
.forminput{
  //  width: 100%;
  //  height: 10%;
   // position: relative;
  //  margin-left: auto;
  //  margin-right: auto;
  //  bottom: 200px;
    background: #fff!important;
}

.forminput1{
    width: 90%;
    // height: 10%;
    position: relative;
   // bottom: 170px;
    background: gray!important;
    
}

.forminput2{
   // width: 90%;
    // height: 10%;
  //  position: relative;
  //  bottom: 170px;
    background: gray!important;
    
}
ion-content{
    background: #fff;
}
.containerbutton{
    height: 30%;
}
.containerbutton ion-button{
   // position: relative;
    border-radius: 5px;
   height: 30px;
   font-size: 14px;
  //  width: 150px;
  //  margin-left: 2%;
    // left: 38%;
  //  bottom: 150px;
}

.containerbutton ion-button p{
    margin-top: auto;
    margin-bottom: auto;
}
//////////////////////////////////////////////////////////////////////////////////////////

.form-content{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow: hidden; /* Hide scrollbars */
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    /* padding: 10px; */
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    /* width: 100%; */
    /* background: #fff; */
    padding: 25px 30px;
    /* border-radius: 5px; */
}

.form-content .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;

}
.form-content .title::before {
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #C8FCEA, #6A9A8B);
}

 .form-content form .user-details{
    // margin: 10px 0 12px 0;
    margin-bottom: 100px;
}

form .user-details .form-group{
    margin-bottom: 15px;
}

.form-group {
    width: 90%;
    position: relative;
    left: 6%;
}
.user-details .form-group .details{
    display: block;
    margin: 20px 0 12px 0;
    // margin-bottom: 5px;

}

.user-details .form-group input{
    height: 45px ;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
// .passf{
//     display: flex;
//     flex-direction: row-reverse;
// }

.user-details .form-group input:focus,
.user-details .form-group input:valid{
    border-color: #C8FCEA;

}

form .button{
    width:60%;
    height: 38px;
    margin-left: 20%;
}

form .button input{
  height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,  #6A9A8B, #00754B);

}






