<ion-content class="registerbackfont">
  <div class="">
    <div class="position-fixed">

      <div class="right">
        <p><strong style="color: black;">INSCRIPTION</strong></p>
      </div>
      <div class="left">
      </div>
      <div class="logo">
        <img src="../../assets/LOGO.png">
      </div>

    </div>


  </div>
  <div class="content1">

    <div class="content-item p-2">
      <form name="form" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="mb-3 form-group">
          <label for="nomutilisateur" class="form-label" style="color: black;">Nom utilisateur</label>
          <input type="text" class="form-control" name="nomutilisateur" [(ngModel)]="form.nomutilisateur"
            placeholder=" " required minlength="3" maxlength="20" #nomutilisateur="ngModel"
            [ngClass]="{ 'is-invalid': nomutilisateur.errors }">


          <div class="invalid-feedback" *ngIf="nomutilisateur.errors ">
            <div *ngIf="nomutilisateur.errors['required']">Nom utilisateur is required</div>
            <div *ngIf="nomutilisateur.errors['minlength']">
              Nom utilisateur must be at least 3 characters
            </div>
            <div *ngIf="nomutilisateur.errors['maxlength']">
              Nom utilisateur must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label" style="color: black;">Email address</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" placeholder="" required
            #email="ngModel" [ngClass]="{ 'is-invalid':  email.errors }">
          <div class="invalid-feedback" *ngIf="email.errors ">
            Nom utilisateur est réquis !
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label" style="color: black;">Mot de passe</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" id="password"
            placeholder="" required minlength="6" #password="ngModel"
            [ngClass]="{ 'is-invalid': password.errors }">


          <div class="invalid-feedback" *ngIf="password.errors">
            <div *ngIf="password.errors['required']">Le mot de passe est réquis</div>
            <div *ngIf="password.errors['minlength']">
              Le mot de passe doit être d'au moins 6 caractères
            </div>
          </div>
        </div>


        <!-- <div class="mb-3">
          <label for="confirmedpassword" class="form-label" style="color: black;">Confirmer mot de passe</label>
          <input type="confirmedpassword" class="form-control" name="confirmedpassword" [(ngModel)]="confirmedpassword"
            required #confirmedpassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmedpassword.errors }">

          <div class="invalid-feedback" *ngIf="confirmedpassword.errors && f.submitted ">
            Les mot de passe ne correspondent pas !
          </div>
        </div> -->


        <div class="mb-3">
          <label for="confirmedpassword" class="form-label" style="color: black;">Confirmer mot de passe</label>
          <input type="password" class="form-control" name="confirmedpassword" [(ngModel)]="form.confirmedpassword"
            id="password" placeholder="" required minlength="6" #confirmedpassword="ngModel"
            [ngClass]="{ 'is-invalid':confirmedpassword.errors }">


          <div class="invalid-feedback alert-danger" *ngIf="confirmedpassword.errors ">
            <div *ngIf="confirmedpassword.errors['required']">Le mot de passe est réquis</div>
            <div *ngIf="confirmedpassword.errors['minlength']">
              Le mot de passe doit être d'au moins 6 caractères
            </div>
          </div>
        </div>

        <div class="choice">
          <!-- <legend>Préférences :</legend> -->


          <ion-item class="form-label cadrelabel">
            <ion-label style="color: black;">Préférences:</ion-label>
          </ion-item>
          <ion-item *ngFor="let interest of interests" class="form-label">
            <ion-label class="classion-label" style="color: black;">{{interest.nom}}</ion-label>
            <ion-checkbox (click)="onInterestSelected(interest)"></ion-checkbox>
          </ion-item>


        </div>

        <div class="choice mt-4">
          <!-- <legend>Préférences :</legend> -->
          <ion-item class="cadrelabel">
            <ion-select interface="popover" placeholder="Objectif professionel" [(ngModel)]="role" name="selectedValue"
              style="color: black;" class="selectcadre">
              <ion-select-option value="emploi" style="color: black;">Chercheur d'emploi</ion-select-option>
              <ion-select-option value="projet" style="color: black;">Porteur de projet</ion-select-option>
            </ion-select>
            <!-- <ion-select>
                <ion-select-option *ngFor="let option of options" [value]="option.value">{{ option.text }}
                </ion-select-option>
              </ion-select> -->

          </ion-item>

        </div>


        <!-- <div class="containerbutton ">

          <ion-button type="submit" [disabled]="f.invalid">
            <p style="color: white;">Inscription</p>
          </ion-button>
        </div> -->

        <div class="containerbutton mt-5">
          <ion-button fill="clear" type="submit" routerLink="/connexion" [disabled]="f.invalid">
            Inscription
          </ion-button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          L'inscription à échouer !<br />{{ errorMessage }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Votre inscription a reussi avec succès !
      </div>
      <div class="bottom">
        <p>Vous n'avez pas de compte? <ion-button routerLink="/connexion" fill="clear">CONNEXION</ion-button>
        </p>
      </div>
    </div>

  </div>
</ion-content>